BveTs Vehicle Sound 3.00

[MTR]
DoorCloseSoundLength = 0.5
BreakerDelay = 0.02
MotorOutputAtCoast = 0.0
RegenerationLimit = 0

[Brake]
BC Release High = airZero.wav
BC Release = airZero.wav
BC Release Full = airZero.wav

;[Compressor]
;Attack = cp_start.wav
;Loop = cp_loop.wav
;Release = Sounds\cp_end.wav

[Motor]
0 = Motor0.wav
1 = Motor1.wav
2 = Motor2.wav
3 = Motor3.wav
4 = Motor4.wav
5 = Motor5.wav
6 = Motor6.wav
7 = Motor7.wav
8 = Motor8.wav
9 = Motor9.wav
10 = Motor10.wav
11 = Motor11.wav
12 = Motor12.wav
13 = Motor13.wav
14 = motor14.wav
[Run]
0 = run0.wav

[Joint]
0 = Point.wav

[Door]
Open = DoorOpn.wav
Close = DoorCls.wav

[Flange]
0 = Flange0.wav

[Others]
Noise = Loop.wav